<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <input v-model="query" placeholder="검색어">
    <ul>
      <li v-for="post in filteredPosts">
        {{ post.title }}
      </li>
    </ul>
  </div>

  <script>
    let app = new Vue({
      el: '#app',
      data: {
        query: '',
        posts: [],  // 전체 데이터
        filteredPosts: []   // 검색 조건에 맞는 데이터만 필터링
      },
      created: function () {
        // 통신
        this.getPosts();
      },
      methods: {
        getPosts: function () {
          let v = this;
          fetch('https://jsonplaceholder.typicode.com/posts')
            .then(response => response.json())
            .then(function (json) {
              v.posts = json;
              v.filteredPosts = json;
            })
        }
      },
      watch: {
        query: function (val) {
          this.filteredPosts = this.posts.filter(post => post.title.includes(val))
        }
      }
    })
  </script>
</body>

</html>