<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
</head>

<body>
  <div id="app">
    <input v-model="query" placeholder="검색어">
    <div>
      {{ message }}
    </div>
    <ul>
      <li v-for="item in realtimeArrivalList">
        {{ item.trainLineNm }}, {{ item.arvlMsg2 }}
      </li>
    </ul>
  </div>

  <script>
    let app = new Vue({
      el: '#app',
      data: {
        message: '',
        query: '',
        realtimeArrivalList: [],  // 전체 데이터
      },
      created: function () {
        // 통신
        this.getRealtimeArrivalList();

        // 디바운스 적용된 검색 함수 정의
        this.debouncedSearch = _.debounce(this.getRealtimeArrivalList, 1000);
      },
      methods: {
        getRealtimeArrivalList: function () {
          let vm = this;

          fetch(`http://swopenapi.seoul.go.kr/api/subway/sample/json/realtimeStationArrival/0/5/${this.query}`)
            .then(response => response.json())
            .then(function (json) {
              vm.realtimeArrivalList = json.realtimeArrivalList;
              vm.message = '';
            })
            .catch(function (error) {
              vm.message = '에러!! API 요청에 오류가 있습니다';
            });
        },
      },
      watch: {
        query: function (val) {
          this.message = '로딩 ....';
          this.debouncedSearch(val);
        }
      }
    })
  </script>
</body>

</html>